*{
  padding: 0px;
  margin: 0px;
}
a{
  position: absolute;
  text-decoration: none;
  font-size: 50px;
  font-family: calibri  cuerpo;
  border: 4px solid #000;
  border-radius: 5px;
  margin: 100px 0px 0px 30px;
  background-color:#3b5998;/*color de facebok*/
  padding: 5px 10px 5px 10px;
}
a:hover{/*Esta etiqueta a:hover se utiliza para que el texto que este dentro del boton realize un efecto*/
  background-color: #000;
  color: #fff;

}
